<div class="container form_container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h4 class="text-center mb-3 font-color">資料修改</h4>
      <form action="/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                餐廳名稱
              </span>
            </div>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
              value="{{restaurant.name}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                餐廳英文名稱
              </span>
            </div>
            <input type="text" class="form-control" id="name_en" placeholder="Enter Engish Name" name="name_en"
              value="{{restaurant.name_en}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                <i class="fas fa-utensils pr-2"></i>
                &nbsp 餐廳類型
              </span>
            </div>
            <input type="text" class="form-control" id="category" placeholder="Enter Category" name="category"
              value="{{restaurant.category}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                <i class="fas fa-camera"></i>
                &nbsp 餐廳照片
              </span>
            </div>
            <input type="text" class="form-control" id="photo-link" placeholder="Link to Photo" name="image"
              value="{{restaurant.image}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                <i class="fas fa-home"></i>
                &nbsp 地址
              </span>
            </div>
            <input type="text" class="form-control" id="location" placeholder="Enter Address" name="location"
              value="{{restaurant.location}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                <i class="fas fa-phone-square"></i>
                &nbsp 電話
              </span>
            </div>
            <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone"
              value="{{restaurant.phone}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                <i class="fas fa-map-pin"></i>
                &nbsp Google Map
              </span>
            </div>
            <input type="text" class="form-control" id="google_map" placeholder="Enter Google Map" name="google_map"
              value="{{restaurant.google_map}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                <i class="fas fa-star fa-xs"></i>
                &nbsp 評分
              </span>
            </div>
            <input type="text" class="form-control" id="rating" placeholder="Rate: Give 1 ~ 5 Point" name="rating"
              value="{{restaurant.rating}}">
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                簡介
              </span>
            </div>
            <textarea class="form-control" id="intro" aria-label="With textarea" placeholder="Introduction"
              name="description">{{restaurant.description}}</textarea>
            <small class="feedback small text-danger"></small>
          </div>
        </div>

        <button type="submit" class="btn btn-info float-left mt-2">儲存</button>
      </form>

      <form action="/restaurants/{{restaurant.id}}/delete" method="POST">
        <button type="submit" class="btn btn-light delete_button float-right">刪除</button>
      </form>

    </div>
  </div>
</div>